CLOUDINARY_CLOUD_NAME=dckvybvgt
CLOUDINARY_API_KEY=397156947112371
CLOUDINARY_API_SECRET=MPYJPGkvpUsyySP02OYU3xSUjVs
DEFAULT_CLOUD_FOLDER=xrcc
MAX_UPLOAD_MB=200
MAX_PROCESS_SECONDS=600
NETLIFY_ORIGIN=https://your-site.netlify.app
